 <div class="container">
    <%= @questions %>
    <p>-You</p>
    <%= @answer %>
    <p>-Your Coach</p>
</div>
<div id="link">
<a id="links"><%= link_to "Ask a new question", root_path %></a>
</div>
